@font-face {
  font-family: "Press Start 2P", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
}

body {
  font-family: "Press Start 2P", cursive;
  padding: 0;
  text-align: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(56, 138, 154, 1) 21%,
    rgba(43, 43, 48, 1) 75%
  );
}

.menu {
  float: left;
  padding: 0 1% 10% 10%;
}

.menu p {
  font-size: 18px;
}

.logo-img {
  width: 550px;
  margin: -100px 0;
}

.arrows-img {
  width: 150px;
}

.start {
  width: 600px;
}

body button {
  font-size: 15px;
  background-color: #1a1818;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: -150px;
  font-family: "Press Start 2P", cursive;
}

.canvas1 {
  float: left;
  padding: 20px 0px;
}
