body {
  padding: 0;
  text-align: center;
}

.menu {
  float: left;
  padding: 0 1% 10% 10%;
}

.menu p {
  font-size: 18px;
  font-family: "Verdana";
}

.logo-img {
  width: 350px;
  margin-bottom: -50px;
}

.arrows-img {
  width: 150px;
}

.start {
  width: 600px;
}

body button {
  font-size: 30px;
  background-color: #1a1818;
  color: #fff;
  padding: 20px 40px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.canvas1 {
  float: left;
  padding: 20px 0px;
}
